@page "/Archives"

<PageTitle>Archives</PageTitle>

<h1>Archives</h1>
<div style="color:goldenrod">

    Meh!<br />
    Shut the fuck up AI implant!<br />
    Patch Notes: V 1.00000000002<br />
    1. Added Pumpkin <br />
    2. added backgrounds.css<br />
    3. change theme to orange black<br />
    What A Glorious Patch Note Leeda!<br />
    BattleShip IceStarIcicle Archives.... ... 10/29/2024<br />
</div>
<div style="color:goldenrod">

    Meh!<br/>
    Shut the fuck up AI implant!<br/>
    Patch Notes: V 1.00000000001<br/>
    Added 3 Pages<br/>
    What A Glorious Patch Note Weeber!<br/>
    BattleShip IceStarIcicle Archives.... ... 10/28/2024<br />
</div>
<div style="color:goldenrod">

    Why is it that i was born inherently evil But Played Baldur's' Gate 1 and decided to change my alignment to chaotic good in real life?<br/>
    Therefore i am now inherently good by choice hence hurting humans is bad and destruction causes the downfall of society.<br/>
    I can barely hurt a fly without cryayaying in real life and am considerably friendly to most humans unless coffee is not present.<br/>
    Even when i play mortal online I feel bad when i player kill people so i always end up going for the protector glorious Lord Title.<br/>
    Even when i attempt to make Games in unreal engine and C they have inherently good alignment behind them.<br/>
    Yet here i am writing an HTML/C# website and i cannot make it aligned towards good.<br/>
    NO MATTER HOW HARD I TRY EACH WEBSITE BECOMES EVIL I CANNOT UNDERSTAND THIS.<br/>

    BattleShip IceStarIcicle Archives.... ... 10/27/2024<br/> 
</div>

<div style="color:goldenrod">

    To be a Noob or to not be a Noob that is ze Question?<br/>
    BattleShip IceStarIcicle Archives.... ... 10/26/2024<br/> 

</div>