@page "/"

<PageTitle>Home</PageTitle>
<h1>Home</h1>


<div style="color:goldenrod;font-size:300%;">
    Welcome to the Tavern of the Rising Sun!<br />

</div>
<div style="color:goldenrod;font-size:200%;">
    Happy Halloween!<br />

</div>


<img src="iImages/Pumpkin001.png" />



<div style="color:goldenrod">

    Meh! Welcome to website!<br/>
    
</div>

<div style="color:goldenrod">



Also if you dont mind please follow set instructions below from bender before you continue your day if i have to explain this is dark humor....<br/>
</div>



<div style="font-family:Digital;font-size:400%;color:darkred;">KILL ALL HUMANS!!! 10101010. Bender<br/>
    This website will self-destruct in five seconds.... or maybe not....<br/>


</div>