@page "/Privacy"

<PageTitle>Privacy</PageTitle>

<h1>Privacy</h1>

<div style="color:goldenrod;font-size:100%;">
    Meh!<br/>
    To View Site Correctly after updates you must Clear Web Cache!<br/>

    Website Launch 10/12/2024.<br />

    Website Under Construction Thanks!<br />

    Contact info: robertchilewski83@gmail.com<br />
</div>
